@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke:  1px #f3d076;
  }
  .text-outline-hover{
    -webkit-text-stroke:  1px #f3d076;
  }
  .gold-text {
    background-image: radial-gradient(ellipse at bottom, #92400e, #fef9c3, #78350f);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .gold-bg {
    background-image: radial-gradient(ellipse at bottom, #92400e, #fef9c3, #78350f);
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
